
@import '../variables.css';

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    background-color: var(--darkBlue);
    border-radius: 1rem;
}
@media (min-width: 576px) and (max-width: 1139.98px) { 
    .card {
        margin-top: 25rem !important;
        max-width: 38rem !important;
    }
    .user_info {
        display: flex;
    }
    .user_info__avatar {
        padding-right: 3rem;
        margin-top: 2rem;
    }
    .user_info__name {
        display: flex;
        align-items: center;
    }
    .user_info__name span {
        padding-right: 3rem;
    }
    .user_info__name h2 {
        padding-left: 1rem;
    }
    .times {
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center;
        padding: 2rem !important;
        margin-top: 1rem;
        margin-bottom: -1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}

.user_info {
    background-color: var(--blue);
    padding: 2rem;
    border-radius: 1rem;
    z-index: 2;
}

.user_info__name span {
    color: var(--paleBlue);
}
.user_info__avatar {
    padding-bottom: 2rem;
}

.user_info__avatar img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.times {
    display: flex;
    padding:  1.5rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--darkBlue);
    z-index: 1;
    position: relative;
    top: -10px;
}

.times button{
    margin-bottom: 1rem;
    font-size: 1rem;
    cursor: pointer;
}


